[submodule "libraries/TinyGPS"]
	path = libraries/TinyGPS
	url = git@github.com:mikalhart/TinyGPS.git
[submodule "libraries/RadioHead"]
	path = libraries/RadioHead
	url = git@github.com:adafruit/RadioHead.git
[submodule "libraries/Makerfabs-ESP32-UWB"]
	path = libraries/Makerfabs-ESP32-UWB
	url = git@github.com:Makerfabs/Makerfabs-ESP32-UWB.git
